srcSteps/Frank2Transactions/v495/src/main/resources/input.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="input">
    <xs:complexType>
      <xs:attribute name="correlationId" type="xs:string" />
      <xs:attribute name="message" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>