src/frank-mermaid-dashboard/backend/src/main/configurations/frank-mermaid-dashboard-config/xsd/parsedTemplate.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mermaid-template">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="original" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="mapping">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="mermaid-line" type="xs:nonNegativeInteger" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>