src/frank-mermaid-dashboard/backend/src/main/configurations/frank-mermaid-dashboard-config/xsd/prepareDbUrlStatusForJsonUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="urls">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="url">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="url" type="xs:string"/>
							<xs:element name="isFake" type="xs:boolean"/>
							<xs:element name="httpResponseOk" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>