src/frank-mermaid-dashboard/backend/src/main/configurations/frank-mermaid-dashboard-config/xsd/prepareDbLineStatusForJsonUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="lines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="diagramName" type="xs:string"/>
				<xs:element name="line" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="lineNumber" type="xs:integer"/>
							<xs:element name="isOk" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>