srcSteps/ladybugInstance/v500/configurations/ladybug/message.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="customer" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="subject" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="message" type="xs:string"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>      
</xs:schema>